
.about-page{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-content: center;
    gap: 3rem;
}
.about-page .about-img{
    display: none;
    width: 100%;
}
.about-img img{
    max-width: 100%;
}
.about-page .about-content{
    text-align: center;
}
.about-content .text-center{
    margin-inline: auto;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.4rem;
    gap: 1rem;
}
.info-item{
    background-color: var(--light-color);
    padding:.8rem 1.2rem;
    line-height: 2rem;
    border-radius: 1rem;
    
}
.choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    gap: 3rem;
}
.choose-us .service-box img,
.choose-heading{
    margin-inline: auto;
}

.choose-us .service-box{
    width:85% ;
    min-height: 20rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(227,222,227,100%);
}
.choose-us .service-box:hover{
    box-shadow: 0 6px 15px rgba(227,222,227,100%);
}

/*=============================================
=            media query            =
=============================================*/

@media (min-width: 576px) {
    .choose-us{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 768px) {
    
    .about-page .about-img{
        display: block;
    }
    .about-page {
        grid-template-columns: repeat(2,1fr);
    }
    .section-padd{
        padding-block: 10rem !important;
    }

    .filter-btn-secondary{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        border-bottom: 1px solid var(--orange-color);
    }
    .filter-btn-secondary button{
        color: var(--orange-color);
        padding: .8rem 1.2rem;
        font-family: inherit;
        font-weight: 500;
        outline: none;
        border: none;
        background: transparent;
        transition: all 0.4s ease;
    }
    .filter-btn-secondary button:hover{
        background-color: var(--orange-color);
        color: var(--light-color);
    }
    .tourist-place-container{
        padding-block-start: 3rem;
    }
    
}

@media (min-width:992px) {
    .choose-us{
        grid-template-columns: repeat(4,1fr);
    }
    .choose-us .service-box{
        width: 100%;
    }
}